<!DOCTYPE html>
<html>
<head>
  <title>golden website</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>hiii</h1>
  <p>This is the home page rendered using EJS.</p>

  <nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/contact">Contact</a>
  </nav>
</body>
</html>
