<%- include("includes/header.ejs"); %>
<body>
  <div class="profile">
    <h1>Profile of users</h1>
    <h1>"usernaem" <%= user.name %></h1>
    <h1>Followers --- <%= user.followers %></h1>
    <h1>Following <%= user.following %></h1>
  </div>
</body>
</html> 
